.headerDiv {
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: whitesmoke;
    background-color: purple;
}


/* Bootstrap Grid */
.grid-container {
    width: 800px;
    padding: 100px;
    @include make-container();
  }

  .grid-row {
    padding-bottom: 15px;
    @include make-row();
  }

  .grid-content-main {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }

  .grid-content-secondary {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }