{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <select autofocus class="form-select form-select-lg mb-3" id="symbol" name="symbol" placeholder="Select symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="# of shares" type="# of shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}